.header-container{
    width: 100%;
    background-color: rgba(74, 98, 110, 0.726);
    text-align: center;
    height: 100px;

}
.header-container nav a{
    text-decoration: none;
    color: white;
    margin-right: 30px;
    padding: 30px;
    font-size: 25px;
    
}
.nav{
    display: flex;
}